:root{
    --blue-dark: #0d1117;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
ul{
    list-style: none;
}
@media (prefers-color-scheme: dark){
    body{
        background-color: var(--blue-dark);
        font-family: 'Montserrat', sans-serif;
    }
}